/target/
/bin/
/.classpath
/.project
/.settings
*.iml
/.idea
.idea
/*.iml
/contract/*.iml
/svc/*.iml
/.metadata
*rebel.xml



/src/main/resources/rebel.xml
/src/main/resources/protobuf-sub

/src/main/java/tmpdemo
/src/main/protojava/classes
/src/main/protojava/com
/src/main/protojava/FilesList.txt
*.ipr
*.iws


HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/

